@charset "UTF-8";

body {
    background: black url(../imagens/back-tablet.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

img#pc {display: none;}
img#celular {display: none;}
img#print {display: none;}
img#tablet {display: block;}
img#tv {display: none;}